@media all and (max-width: 1000px) {

    .toggle {
        display: block;
        font-size: 4rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
        padding: 2rem;
    }

    .logo img {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none !important;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block !important;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--red);
        flex-direction: column;
        padding: 2rem;
        justify-content: space-evenly;
        transform: translateX(-100%);
        transition: transform 1s;
        z-index: 10;
    }

    .menu li a p {
        font-size: 5rem;
    }

    .menu-hover:after {
        height: 4px;
    }

    .open .menu {
        transform: translateX(0);
    }
}